  <!--begin footer -->
  <footer id="footer" class="clearfix">
    <% unless subdomain? %>
    <div class="container"><!--footer container-->

      <div class="row-fluid">
        <div class="span12">
          
        </div>
        <!--close span12-->
      </div>
      <!--close row-fluid-->

      <div class="row-fluid">
        <div class="span3">
          <section>
            <h4>Follow Us</h4>
            <ul class="social">
              
              <li><a class="socicon facebook" href="https://www.facebook.com/pages/Groundbreaker/176093432567131" title="Facebook" target="_blank" rel="external nofollow"></a></li>
              <li><a class="socicon twitterbird" href="https://twitter.com/intent/user?screen_name=GroundBreakerCo" title="Twitter" target="_blank" rel="external nofollow"></a></li>
              <li><a class="socicon linkedin" href="http://www.linkedin.com/company/groundbreaker-co?trk=fc_badge" title="LinkedIn" target="_blank" rel="external nofollow"></a></li>
              <li><a class="socicon google" href="https://plus.google.com/100801609442873601278" title="Google" target="_blank" rel="publisher external nofollow"></a></li>
              <li><a class="socicon wordpress" href="http://blog.groundbreaker.co" title="Blog" target="_blank" rel="publisher external nofollow"></a></li>
            </ul>
          </section>

          
          <!--close section-->
        </div>
        <!-- close .span3 -->

        <div class="span3">
          <section>
            <h4>More Info</h4>
            <ul class="footerPosts">
              <li><a href="/how-it-works-for-investors">How It Works for Investors</a></li>
              <li><a href="/solution">Our Solution</a></li>
              <li><a href="/faq">FAQ</a></li>
            </ul>
          </section>
          <!--close section-->
        </div>

        <!--section containing newsletter signup and recent images-->
        <div class="span3">
          <section>
            <h4>About Us</h4>
            <ul class="footerPosts">
              <li><a href="/team">Who We Are</a></li>
              <li><a href="/about">What We Stand For</a></li>
              <li><a href="/contact">Contact Us</a></li>
            </ul>
          </section>
          <!--close section-->
        </div>
        <!-- close .span4 -->

        <!--section containing blog posts-->
        <div class="span3">
          <section>
            <h4>Safety First</h4>
            <ul class="footerPosts">
              <li><a href="/security" rel="external nofollow">Security</a></li>
              <li><a href="/privacy" rel="external nofollow">Privacy</a></li>
              <li><a href="/terms" rel="external nofollow">Terms</a></li>
            </ul>
          </section>
        </div>
        <!-- close .span4 -->
      </div>
      <!-- close .row-fluid-->
    </div>
    <!-- close footer .container-->
    <% end %>

    <!--change this to your stuff-->
    <section class="footerCredits">
      <div class="container">
        <ul class="clearfix">
          <li><a href="http://groundbreaker.co">© 2013-2014 GroundBreaker. All rights reserved.</a></li>
          <% unless subdomain? %>
          <li><a href="/sitemap" rel="external nofollow">Site Map</a></li>
          <% end %>
          <li><a href="/privacy" rel="external nofollow">Privacy</a></li>
        </ul>
      </div>
      <!--footerCredits container-->
    </section>
    <!--close section-->
  </footer>
  <!--/.footer-->