<div class="container-fluid full-width no-padding hero" id="top-area"
	<div class="row">
		<div class='container' style='margin-top: 50px'>
			<div class="row center">
				<h1 style='color: white;'>Real estate fundraising simplified.</h1>
				<h3 style='color: white;'>We make software to do that.</h3>
			</div>
			<div class="row-fluid leader center">
					<div class='span4 offset2'>
						<div class="pull-right">
							<a href='/pitch'><img src='/img/money.png' class='img-rounded' style='margin-bottom: 20px;'></a>
							<a class="span7 offset2 btn btn-warning btn-large" style='display: block;' href="/pitch">I Am An Issuer</a>
						</div>	
					</div>
					<div class='span4'>
						<div class="pull-left">
							<a href='/deals'><img src='/img/home.png' class='img-rounded' style='margin-bottom: 20px; margin-left: auto; margin-right: auto;'></a>
							<a class="span7 offset2 btn btn-warning btn-large" style='display: block;' href="/deals">I Am An Investor</a>
						</div>	
					</div>

				</div>
		</div>
	</div>
</div>



<div class="container-fluid full-width" id="main-content" style='padding-bottom: 0%;'>
	<div class='row leader grey'>
		<div class='container'>
			<table class='table-no-border'>
					<tbody>
					<tr>
						<td><img src='https://1.bp.blogspot.com/-nYaCcOGNuO4/Uqsq6LBGm5I/AAAAAAAAAMM/ZY0SgXaFvXs/s1600/VentureBeat_27932+copy.png'/></td>
						<td><img src='https://2.bp.blogspot.com/-9YMcWaIRo0Y/UqsiEBIeCAI/AAAAAAAAALs/P9Qs5lfeCdA/s1600/Cornell_University_logo+copy.png'/></td> 
						<td><img src='https://3.bp.blogspot.com/-BFhVriAjHsY/UquArFwqjaI/AAAAAAAAANk/EDevdwvaKsk/s1600/Columbia+copy.png'/></td> 
						<td><img src='https://1.bp.blogspot.com/-0SBg83Ow-_4/UqstS35a3FI/AAAAAAAAAMo/9XHekG8XzVU/s1600/globest-logo-250+copy.png'/></td> 
						<td><img src='https://2.bp.blogspot.com/-_nmGAV35SyQ/UqsgLv3zlFI/AAAAAAAAAKM/hIAUEuCMavc/s1600/Philaweekly+copy.gif'/></td> 
						</tr>
						<tr>	
						<td><img src='https://3.bp.blogspot.com/-Zu1Gl56GM1A/Uqt-mSAiOfI/AAAAAAAAANY/btcEnBWkV9I/s1600/rd_logo+copy.gif'/></td> 	
						<td><img src='https://2.bp.blogspot.com/-GFjD7pfST-M/Uqt-mFo7KtI/AAAAAAAAANE/POjTm-1hT0A/s1600/crowfund+insider+copy.png'/></td> 
						<td><img src='https://1.bp.blogspot.com/-CWz2uZcixi0/UqsgS5a_rPI/AAAAAAAAAKo/zEVCF6AphsM/s1600/crowdsourcing-org-logo+copy.png'/></td> 
						<td><img src='https://1.bp.blogspot.com/-eszCh_U6PNY/UqsgTnYr04I/AAAAAAAAALA/-6FdsRPAGyo/s1600/inman-news-logo+copy.gif'/></td>
						<td><img src='https://4.bp.blogspot.com/-Vg4f1meLeIE/Uqt-l2kpWVI/AAAAAAAAANA/Ln2Lx4URbGE/s1600/NYREJ252+copy.gif'/></td> 
					</tr>
				</tbody>
					</table>
			</div>
	</div>
	<div class='row leader center'>
			<div class='container'>
				<div class="row-fluid">
					<div class='span12'>
					<h1>How it works</h1>
						<a href="/pitch"><img src='/assets/landing/groundbreaker-v4.jpg' style='margin: auto;width:100%'></a>
					</div>
				</div>
			</div>
		</div>
	<div class="row leader grey center">
		<a href="/pitch" class="btn btn-warning btn-large btn-block">I want to learn more</a>
	</div>
</div>

	<!--close .container role="main-content" -->
