.container-fluid
	position relative

#main-investor,
#top-area 
	background url("../img/green-background.jpg") no-repeat center center fixed GREEN
	background-size cover
	background-position center
	margin-bottom 0
	width 100%


.info-container
	&.issuer
		margin-left: 200px;
		margin-right 0
	opacity 0.8
	background white
	margin-right 200px
	padding 5em
	bottom 10em
	position absolute
	.title
		position relative
	p
		font-size: 1.3em;
	h3
		position absolute
		top 50%
		font-size: 2.7em;
		font-weight: bold;
		color GREEN




#main-investor
	background url("../img/investor-background.jpg") no-repeat center center fixed GREEN

#main-issuer
	background url("../img/issuer-background.jpg") no-repeat center center fixed GREEN


@media screen and (min-width: 1000px)
	#main-issuer,
	#main-investor,
	#top-area 
		height 700px
		padding-left 0

.btn-want-learn
	font-size 1.5em
	padding 1em