
#main-investor,
#top-area 
	background url("../img/green-background.jpg") no-repeat center center fixed GREEN
	background-size cover
	background-position center
	margin-bottom 0
	width 100%

#main-investor
	background url("../img/investor-background.jpg") no-repeat center center fixed GREEN

#main-issuer
	background url("../img/issuer-background.jpg") no-repeat center center fixed GREEN


.btn-want-learn
	font-size 1.5em
	padding 1em
	border-radius 0


.info-container
	&.issuer
		margin-left: auto;
		margin-right auto
		top 4em
	opacity 0.8
	background white
	margin-right auto
	padding 2em
	top 4em
	position relative
	.title
		position relative
	p
		font-size: 1.3em;
	h3
		// position absolute
		top 50%
		font-size: 2.7em;
		font-weight: bold;
		color GREEN

@media only screen and (max-width: 767px)
	.mobile_nav
		display none
	#main-issuer,
	#main-investor,
	#top-area
		height 400px
		padding-left 0
	#top-area 
		height 980px
		.offset2
			margin-bottom 2em
		.pull-left,	
		.pull-right
			float none



@media screen and (min-width: 1000px)
	.container-fluid
		position relative

	#main-issuer,
	#main-investor,
	#top-area 
		height 700px
		padding-left 0

	.info-container
		&.issuer
			margin-left: 200px;
			margin-right 0
			top auto
		margin-right 200px
		padding 5em
		bottom 10em
		top auto
		position absolute
		h3
			position absolute





