.header
	background GREEN

.btn-important
	background GRAY

.btn-warning
	background ORGANGE

#main_menu li
	background none
	// a.content-navigation
	// 	color white

#main_menu a:hover, 
#main_menu .active a, 
#main_menu a.selected, 
#main_menu li.parent.foo.active a
	background GRAY